@model Nutrition_App.Operations.Models.Nutrients.NutrientViewModel

<h1>@Model.FoodDescription</h1>
<br />

@if (Model.Food == null) return;

<h2>Portion Sizes</h2>
<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <td>Description</td>
            <td>Weight</td>
        </tr>
    </thead>

    @for (int i = 0; i < Model.Food.FoodPortions.Count; i++)
    {
        @if (Model.Food.FoodPortions[i].PortionDescription == "Quantity not specified") continue;

        <tr>
            <td>@Model.Food.FoodPortions[i].PortionDescription</td>
            <td>@Model.Food.FoodPortions[i].GramWeight g</td>
        </tr>
    }
</table>
<br />

<form asp-action="View" method="post" class="mb-3">
    <!-- working portion select frontend, maybe implemented later - Ethan
    <div class="form-group">
        <label asp-for="PortionId">Portion:</label>
        <select asp-for="PortionId" asp-items="@(new SelectList(Model.Food.FoodPortions, "Id", "PortionDescription"))">
	        <option value="">Select Portion</option>
        </select>

        <label asp-for="Quantity">Quanitty:</label>
        <input type="number" step="1" asp-for="Quantity" />

        <input type="hidden" asp-for="FoodId" />
        <input type="hidden" asp-for="FoodDescription" />

	    <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </div>
    -->
    <div class="form-group">
        <label asp-for="WeightEaten">Amount Eaten (grams):</label>
        <input type="text" asp-for="WeightEaten" class="form-control" />
        <span asp-validation-for="WeightEaten" class="text-danger"></span>
        <input type="hidden" asp-for="FoodId" />
        <input type="hidden" asp-for="FoodDescription" />
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </div>
</form>

<h2>Nutrition Facts per @Model.WeightEaten g</h2>
<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <td>Nutrient</td>
            <td>Amount</td>
            <td>Unit</td>
        </tr>
    </thead>

    @for (int i = 0; i < Model.Food.FoodNutrients.Count; i++)
    {
        @if (Model.Food.FoodNutrients[i].Amount * Model.WeightEaten * 0.01 < 0.001) continue;

        <tr>
            <td>@Model.Food.FoodNutrients[i].Nutrient.Name</td>
            <td>@((Model.Food.FoodNutrients[i].Amount * Model.WeightEaten * 0.01).ToString("0.###"))</td>
            <td>@Model.Food.FoodNutrients[i].Nutrient.UnitName</td>
        </tr>
    }
</table>