
@{
}

<h1>Login Page</h1>
@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    <div class="grid-form">
        <div class="type">@Html.Label("Username: ")</div>
        <div>@Html.TextArea("username", null, new { @class = "textbox" })</div>
        <div class="type">@Html.Label("Password: ")</div>
        <div>@Html.TextArea("password", null, new { @class = "textbox" })</div>
        <div class="submit-line"><input type="submit" value="Login" /></div>
    </div>
}

<br />
<br />
<div>
    <table align="center">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3" align="center">@Html.ActionLink("Sign Up Here", "Registration", "User", null, new { @class = "btn btn-primary" })</td>
            </tr>
            <tr>
                <td colspan="3" align="center">@Html.ActionLink("Forgot Password?", "ForgotPassword", "User", null, new { @class = "btn btn-primary" })</td>
            </tr>
        </tbody>
    </table>
</div>