@model string

@{
}

<h1>Password Reset</h1>
@using (Html.BeginForm("PasswordReset", "User", FormMethod.Post))
{
    <div class="grid-form">
        <div class="type">@Html.Label("Username: ")</div>
        <div>@Html.Display(Model)</div>
        <div class="type">@Html.Label("Password: ")</div>
        <div>@Html.TextArea("password1", null, new { @class = "textbox" })</div>
        <div class="type">@Html.Label("Confirm Password: ")</div>
        <div>@Html.TextArea("password2", null, new { @class = "textbox" })</div>
        <div class="submit-line"><input type="submit" value="Register" /></div>
    </div>
}

<br />
<br />
<div>
    <table align="center">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3" align="center">@Html.ActionLink("Login Page", "Login", "User", null, new { @class = "btn btn-primary" })</td>
            </tr>
        </tbody>
    </table>
</div>